asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
cloudinary==1.24.0
dj-database-url==0.5.0
Django==3.1.5
django-bootstrap4==2.3.1
django-braces==1.14.0
django-decouple==2.1
django-model-utils==4.1.1
django-star-ratings==0.9.1
django-tinymce==3.2.0
djangorestframework==3.12.2
idna==2.10
psycopg2-binary==2.8.6
pytz==2020.5
redcmd==1.2.10
redlib==1.5.7
requests==2.25.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
swapper==1.1.2.post1
urllib3==1.26.2
whitenoise==5.2.0
zope.interface==5.2.0
